@model FloEvent.Web.ViewModels.FoodItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FoodItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodItem.FoodItemId" />

            <div class="form-group">
                <label asp-for="FoodItem.Name" class="control-label"></label>
                <input asp-for="FoodItem.Name" class="form-control" />
                <span asp-validation-for="FoodItem.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodItem.Ingredients" class="control-label"></label>
                <input asp-for="FoodItem.Ingredients" class="form-control" />
                <span asp-validation-for="FoodItem.Ingredients" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodItem.Diet" class="control-label"></label>
                <select asp-for="FoodItem.Diet" class="form-control" asp-items="Model.DietOptions"></select>
                <span asp-validation-for="FoodItem.Diet" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodItem.UnitPrice" class="control-label"></label>
                <input asp-for="FoodItem.UnitPrice" class="form-control" />
                <span asp-validation-for="FoodItem.UnitPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
